.card-container {
    background-color: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    &:last-child {
        margin-bottom: 0;
    }
}

.card-title {
    @apply text-base font-bold;
}