<ng-container [ngSwitch]="currentContract">
    <span *ngSwitchCase="contractType.Fulltime"
        class="employment-tag inline-flex items-center rounded-md bg-green-50 px-3 py-1 text-sm font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Full-time</span>
    <span *ngSwitchCase="contractType.Parttime"
        class="employment-tag inline-flex items-center rounded-md bg-yellow-50 px-3 py-1 text-sm font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20">Part-time</span>
    <span *ngSwitchCase="contractType.Internship"
        class="employment-tag inline-flex items-center rounded-md bg-blue-50 px-3 py-1 text-sm font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">Internship</span>
</ng-container>