<div class="flex flex-auto pt-3 items-end">
  <div class="flex gap-3 items-center">
    <!-- <button pButton type="submit" icon="pi pi-filter" label="Newest"> </button> -->
    <div>
      <p-button [disabled]="!selectedAccountIds.length" (onClick)="onUpdateFields()">Update Fields</p-button>
    </div>
    <hrms-screen-filter (getSearchValue)="searchValue($event)"></hrms-screen-filter>
    <form class="flex items-center" [formGroup]="filterForm">
      <p-multiSelect display="chip" [options]="roleOptions" defaultLabel="Role" formControlName="roles"
        (onChange)="onFilter()"></p-multiSelect>
      <p-button *ngIf="isClearAllVisible()" (onClick)="handleClearAll()" styleClass="p-button-link" label="Clear all">
      </p-button>
    </form>
  </div>
  <div class="flex gap-4 flex-auto justify-end">
    <hrms-tab-menu [labelItems]="labelItems" [activeItem]="activeItem"
      (handleActiveItemChange)="onActiveItemChange($event)"></hrms-tab-menu>
    <!-- <button pButton type="submit" icon="pi pi-plus" styleClass="p-button-sm" label="Create User"> </button> -->
  </div>
</div>
<div class="mt-3">
  <hrms-table (pagingInfo)="onPageChange($event)" [isPaginationShown]="true" [table]="tableData" [contentRef]="contentRef" [isCheckboxShown]="true"
    (headerCheckboxChange)="handleCheckAll($event)" [headerChecked]="headerChecked$ | async"
  >
    <ng-template #contentRef let-rowData>
      <app-user-item [employeeAccount]="rowData"></app-user-item>
    </ng-template>
  </hrms-table>
</div>