{
  "singleQuote": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "semi": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
