.oms-login-host {
  .input-class {
    @apply hover:shadow-sm focus:shadow-sm duration-200 transition-all focus:shadow-primary hover:shadow-primary border border-gray-400 outline-none px-4 py-2 text-lg focus:outline-none rounded-md;
  }

  .validate {
    @apply text-danger text-sm font-medium absolute -bottom-0 translate-y-full;
  }

  .p-toast-message .p-toast-message-content {
    @apply border-none;
  }

  .p-toast.p-toast-top-left {
    @apply top-10 left-40;
  }

  .password-strength-meter {
    width: 100%;
    height: 5px;
    background-color: lightgray;
    margin-top: 5px;
    position: relative;
    border-radius: 15px;
  }

  .progress-bar {
    height: 100%;
    width: 0;
  }
}
