<tr class="mt-3 p-selectable-row">
  <td>
    <div class="flex items-center">
      <img class="avatar-img" style="background: #CDE9EAFF; border-radius: 60px;"
        [src]="employee.profilePicture || defaultImg" [alt]="employee.firstName">

      <a class="text-black ml-4" [routerLink]="['detail', employee.id]">{{employee.firstName}} {{ employee.lastName
        }}</a>
    </div>
  </td>
  <td>{{ employee.positionLevel.position.positionName }}</td>
  <td>{{ employee.email }}</td>
  <td>{{ employee.department?.departmentName }}</td>
  <td>
    <contract-badge [currentContract]="employee.currentContract ?? 0"></contract-badge>
  </td>
  <td class="user-item-row" [class.text-success]="employee.user?.isEnabled" [class.text-danger]="!employee.user?.isEnabled">
    <div class="flex gap-2 items-center">
      <i class="pi-circle-fill pi"></i>
      <span>
        {{ employee.user?.isEnabled ? 'Active' : 'Inactive' | titlecase }}
      </span>
    </div>
  </td>
  <td class="action-col">
    <p-button type="button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" styleClass="p-button-link"></p-button>
    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
  </td>
</tr>