<tr class="mt-3 p-selectable-row">
  <td>
    <div class="flex items-center">
      <img class="avatar-img" src="https://www.primefaces.org/paradise-ng/assets/demo/images/avatar/ivanmagalhaes.png" [alt]="employee.firstName">
    <a class="text-black ml-2" [routerLink]="['detail']">{{employee.firstName}} {{ employee.lastName }}</a>
    </div>
  </td>
  <td>{{ employee.position }}</td>
  <td>{{ employee.email }}</td>
  <td>{{ employee.phone }}</td>
  <td>{{ employee.department }}</td>
  <td>
    <span class="employment-tag inline-flex items-center rounded-md bg-green-50 px-3 py-1 text-base font-medium text-green-700 ring-1 ring-inset ring-green-600/20">{{employee.currentContract}}</span>
  </td>
  <td class="user-item-row" [class.text-success]="employee.status === 1" [class.text-danger]="employee.status === 0">
    <div class="flex gap-2 items-center">
      <i class="pi-circle-fill pi"></i>
      <span>
        {{ employee.status === 1 ? 'Active' : 'Inactive' | titlecase }}
      </span>
    </div>
  </td>
  <td class="action-col">
    <!-- <p-toast></p-toast> -->
    <p-button type="button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" styleClass="p-button-link"></p-button>
    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
  </td>
</tr>
