:host ::ng-deep{
    display: contents;
    .action-col {
      @apply flex justify-center;
    }
    td {
      @apply p-2 align-middle;
    }
    .avatar-img {
      width: 3rem;
      border-radius: 50%;
    }
    .employment-tag {
      border-radius: 50px;
    }
  }