<tr class="mt-3 p-selectable-row" (click)="handleEmployeeDetail()">
  <td>{{ employeeAccount.username }}</td>

  <td class="user-item-row" [class.text-success]="employeeAccount.status" [class.text-danger]="!employeeAccount.status">
    <div class="flex gap-2 items-center">
      <i class="pi-circle-fill pi"></i>
      <span>
        {{ employeeAccount.status ? 'Active' : 'Inactive' | titlecase }}
      </span>
    </div>
  </td>
  <td>{{ employeeAccount.createdAt }}</td>
  <td>
    <span
    *ngIf="employeeAccount.role"
      class="p-2 inline-flex items-center rounded-[50px] bg-blue-100 text-[12px] font-medium text-blue-500 ring-1 ring-inset ring-blue-300"
    >
    <span >
      {{ employeeAccount.role.name}}
    </span>
    </span
    >
  </td>
  <td class="text-right">
    <p-button type="button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" styleClass="p-button-link"></p-button>
    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
  </td>
</tr>
