<div class="bg-white employee-item rounded-lg overflow-hidden p-4 mx-2">
    <div class="employee-item-content flex justify-between">
        <div class="flex flex-1">
            <div class="mb-4">
                <p-avatar
                    *ngIf="employee.damId"
                    styleClass="mr-2" size="xlarge" shape="circle"
                    [image]="prependImage(employee.id)"></p-avatar>
                <img
                    *ngIf="!employee.damId" 
                    class="avatar-img mr-2"
                    style="background: #CDE9EAFF; border-radius: 60px; width: 56px; height: 56px;" [src]="defaultImg"
                    [alt]="employee.firstName">
            </div>
            <div class="ml-4 flex-1">
                <div class="mb-4 text-2xl font-bold">
                    <a [routerLink]="['detail', employee.id]" class="text-black">
                        <span>{{employee.firstName}} {{employee.lastName}}</span>
                    </a>
                </div>
                <div class="mb-1 whitespace-nowrap">
                    <i class="pi pi-briefcase mr-3"></i>
                    <span class="text-gray-400">{{employee.positionLevel?.position?.positionName}}</span>
                </div>
                <div class="mb-1">
                    <i class="pi pi-envelope mr-3"></i>
                    <span class="text-gray-400">{{employee.user?.username || 'None'}}</span>
                </div>
                <div class="mb-1">
                    <i class="pi pi-phone mr-3"></i>
                    <span class="text-gray-400">{{employee.phoneNumber}}</span>
                </div>
                <div class="mt-8">
                    <contract-badge [currentContract]="employee.currentContract ?? 0"></contract-badge>
                </div>
            </div>
        </div>
        <div>
            <p-button type="button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"
                styleClass="p-button-link"></p-button>
            <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
        </div>
    </div>
</div>