<div class="bg-white employee-item rounded overflow-hidden p-4 mx-2">
    <div class="employee-item-content flex justify-between">
        <div class="flex">
            <div class="mb-4">
                <p-avatar styleClass="mr-2" size="xlarge" shape="circle"
                    [image]="employee.avatarImg"></p-avatar>
            </div>
            <div class="ml-4">
                <div class="mb-4 text-2xl font-bold">
                    <a [routerLink]="['detail', employee.id]" class="text-black">
                        <span>{{employee.firstName}} {{employee.lastName}}</span>
                    </a>
                </div>
                <div class="mb-1">
                    <i class="pi pi-briefcase mr-3"></i>
                    <span class="text-gray-400">{{employee.position}}</span>
                </div>
                <div class="mb-1">
                    <i class="pi pi-envelope mr-3"></i>
                    <span class="text-gray-400">{{employee.email}}</span>
                </div>
                <div class="mb-1">
                    <i class="pi pi-phone mr-3"></i>
                    <span class="text-gray-400">{{employee.phone}}</span>
                </div>
                <div class="mt-8">
                    <span
                        class="employment-tag inline-flex items-center rounded-md bg-green-50 px-3 py-1 text-base font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Fulltime</span>
                </div>
            </div>
        </div>
        <div>
            <p-button type="button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"
                styleClass="p-button-link"></p-button>
            <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
        </div>
    </div>
</div>