<div class="card-container by-unit-container">
    <div class="flex justify-between">
        <div>
            <p class="card-title">Competency Level (AVG)</p>
            <p class="text-sm">by Unit</p>
        </div>

        <div>
            <p-button icon="pi pi-filter" iconPos="right" (click)="op.toggle($event)" label="Filter"></p-button>
            <p-overlayPanel #op>
                <ng-template pTemplate="content">
                    <form [formGroup]="filterForm">
                        <h4>Custom Content</h4>
                        <dashboard-department-filter [filterType]="'radio'"></dashboard-department-filter>
                    </form>
                </ng-template>
            </p-overlayPanel>
        </div>
    </div>
    <div>
        <hrms-chart type="radar" [data]="data" [options]="options"></hrms-chart>
    </div>
</div>