:host ::ng-deep {
    .overview-card {
        @apply p-8 rounded-lg flex-1  w-full;
        background-color: #F4FAFAFF;
    }
    .employee-difference {
        line-height: 1.75rem;
        .percentage {
            color: #0a762eff;
        }
    }
}