<div class="card-container">
    <div>
        <p class="font-bold text-lg">Overview</p>
    </div>
    <div class="mt-2 grid lg:grid-cols-4 gap-2 md:grid-cols-2">
        <div class="overview-card">
            <p class="font-bold text-lg">Current Headcounts</p>
            <div class="mt-4 ml-2 flex gap-2 items-end">
                <p class="text-4xl text-primary font-bold">60</p>
                <div class="employee-difference flex gap-1">
                    <div class="percentage font-bold">
                        <span>
                            <i class="pi pi-angle-up"></i>
                        </span>
                        <span>5%</span>
                    </div>
                    <div>Over previous month</div>
                </div>
            </div>
        </div>
        <div class="overview-card">
            <p class="font-bold text-lg">Total Unit</p>
            <div class="mt-4 ml-2 text-4xl text-primary font-bold">4</div>
        </div>
        <div class="overview-card">
            <p class="font-bold text-lg">Review in progress</p>
            <div class="mt-4 ml-2 text-4xl text-primary font-bold">
                1
            </div>
        </div>
        <div class="overview-card">
            <p class="font-bold text-lg">Review in progress</p>
            <div class="mt-4 ml-2 text-4xl text-primary font-bold">
                1
            </div>
        </div>
    </div>
</div>