<div class="card-container h-full">
    <div class="flex gap-4 items-center">
        <p class="card-title">Competency Review Cycle</p>
    </div>
    <div class="mt-2 px-10 flex justify-between items-center">
        <div class="bar-chart-container">
            <p class="text-primary font-bold">Number of completed assessments per unit</p>
            <hrms-chart type="bar" [data]="barChartData" [options]="barChartOptions" [plugins]="plugins" [height]="'250'"></hrms-chart>
        </div>
        <div class="relative">
            <p class="completion-status font-bold text-primary text-center">Overall</p>
            <hrms-chart id="completion-progress" type="doughnut" [data]="pieData" [options]="pieOptions" [height]="'250'">
            </hrms-chart>
            <div class="completion-percentage">
                <span class="font-bold text-primary text-3xl">50%</span>
            </div>
        </div>
    </div>
</div>