:host ::ng-deep {
    .bar-chart-container {
        width: 60%;
    }

    .completion-percentage {
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }

    .completion-status {
        @apply absolute left-1/2 transform -translate-x-1/2;
        width: 10rem;
        top: -3rem;
    }

    .number-of-employees {
        @apply absolute left-1/2 transform -translate-x-1/2;
        bottom: -3rem;
    }
}