<app-topbar></app-topbar>
<div class="mb-2 font-bold">
    <h1 class="text-2xl">Dashboard</h1>
</div>
<hr-overview></hr-overview>
<div class="dashboard-row">
    <div class="col-span-9">
        <competency-review-cycle></competency-review-cycle>
    </div>
    <div class="col-span-3">
        <competency-time-line></competency-time-line>
    </div>
    <div class="col-span-8">
        <competency-level></competency-level>
    </div>
    <div class="col-span-4">
        <competency-level-by-unit></competency-level-by-unit>
    </div>
    <div class="col-span-4">
        <top-skills></top-skills>
    </div>
    <div class="col-span-4">
        <top-performers></top-performers>
    </div>
    <div class="col-span-4">
        <top-competencies></top-competencies>
    </div>
</div>
<div class="mt-2">
    <employee-performance-grid-box></employee-performance-grid-box>
</div>
<div class="mt-2">
    <performance-by-job-level></performance-by-job-level>
</div>