:host ::ng-deep {
    .profile-img {
        @apply absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        height: 120px;
        .p-avatar {
            width: 120px;
            height: 120px;
        }

        .p-fileupload {
            position: absolute;
            right: 0px;
            bottom: 0px;
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            border-radius: 9999px;
            --tw-bg-opacity: 1;
            background-color: rgb(39 68 124 / var(--tw-bg-opacity));
            @apply bg-primary;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));

            .p-fileupload-choose {
                @apply bg-transparent p-0;
                width: 28px;
                height: 28px;
                border: none;
            }

            .p-fileupload-choose-selected {
                @apply flex justify-center;
                .p-button-icon-left {
                    @apply m-0;
                }
            }
            .p-button-label {
                display: none;
            }
        }
    }

    .label {
        @apply font-bold;
    }

    .skill-tag {
        border-radius: 50px;
    }
    .social-icons {
        .pi-twitter {
            color: #2ED2E8FF;
        }
        .pi-linkedin {
            color: #255ABBFF;
        }
        .pi-facebook {
            color: #0D78C9FF;
        }
        .pi-github {
            color: #000; 
        }
        .pi {
            @apply text-2xl;
        }
    }
    .profile-image-container {
        width: 120px;
        height: 120px;
        .profile-img {
            object-fit: cover;
        }
    }

    .info-field {
        @apply lg:text-base md:text-base;
    }

    input, .p-calendar {
        @apply  md:w-full;
    }
}