<div class="card-container top-skills-container h-full">
    <div class="card-title mb-4 flex items-center">
        <p-button icon="pi pi-external-link" styleClass="p-button-link"></p-button>
        <span>Top skills</span>
    </div>
    <hrms-table [table]="tableData" [tableStyle]="{'width': '100%'}" [contentRef]="contentRef">
        <ng-template #contentRef let-rowData>
            <tr>
                <td>{{rowData.no}}</td>
                <td>{{rowData.avgScore}}</td>
                <td>{{rowData.skill}}</td>
            </tr>
        </ng-template>
    </hrms-table>
</div>