<div class="rounded-md">
    <p-carousel *ngIf="employees$ | async as employees" [value]="employees" [numVisible]="3" [numScroll]="3"
        [circular]="false"  [showIndicators]="false">
        <ng-template pTemplate="header">
            <h2 class="mb-4 text-xl">New Employee</h2>
        </ng-template>
        <ng-template let-employee pTemplate="item">
            <div class="bg-white employee-item rounded overflow-hidden p-4 mx-2">
                <div class="employee-item-content flex">
                    <div class="mb-4">
                        <p-avatar styleClass="mr-2" size="xlarge" shape="circle"
                            image="https://www.primefaces.org/paradise-ng/assets/demo/images/avatar/ivanmagalhaes.png"></p-avatar>
                    </div>
                    <div class="ml-4">
                        <div class="mb-4 text-2xl font-bold">
                            <span>{{employee.firstName}} {{employee.lastName}}</span>
                        </div>
                        <div class="mb-1">
                            <i class="pi pi-briefcase mr-3"></i>
                            <span class="text-gray-400">{{employee.position}}</span>
                        </div>
                        <div class="mb-1">
                            <i class="pi pi-envelope mr-3"></i>
                            <span class="text-gray-400">{{employee.email}}</span>
                        </div>
                        <div class="mb-1">
                            <i class="pi pi-phone mr-3"></i>
                            <span class="text-gray-400">{{employee.phone}}</span>
                        </div>
                        <div class="mt-4">
                            <span class="employment-tag inline-flex items-center rounded-md bg-green-50 px-3 py-1 text-base font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Fulltime</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>