:host ::ng-deep {
    .employee-item {
        border: 1px solid var(--surface-d);
    }
    .pi {
        font-size: 0.835rem;
        @apply text-gray-400;
    }
    .employment-tag {
        border-radius: 50px;
    }
}