<!-- <app-topbar></app-topbar> -->
<div class="layout-wrapper !bg-slate-50">
    <div>
        <app-sidebar></app-sidebar>
    </div>

    <div
        class="app-layout-main flex w-full  min-h-screen flex-col justify-between transition-all duration-200 pt-16 md:pr-3 pb-8 {{
            isNavbarOn ? 'md:pl-52 lg:pl-56 lg:pr-2' : 'md:pl-18 lg:pl-24 lg:pr-8'
          }} !ml-0">
        <div class="w-full mx-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="layout-mask"></div>
</div>