:host ::ng-deep {
    .employee-rating {
        width: 3rem;
        height: 2.25rem;
        border-radius: 50px;

        span {
            @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-medium;
        }
    }

    p-avatar {
        @apply flex;
    }

    .p-datatable .p-datatable-thead>tr>th,
    .p-datatable .p-datatable-tbody>tr>td {
        @apply text-center;
    }
}