<div class="my-2 font-bold flex justify-between items-center">
    <h1 class="text-2xl">Employee Dashboard</h1>
    <p-button icon="pi pi-plus" styleClass="p-button-sm" label="New" (click)="openAddEmployeeModal()"></p-button>
</div>
<div class="card-container bg-gray-100">
    <employee-carousel></employee-carousel>
</div>
<div class="card-container">
    <div class="flex justify-between items-center">
        <hrms-tab-menu [labelItems]="labelItems" [activeItem]="activeItem"
            (onActiveItemChange)="onActiveItemChange($event)"></hrms-tab-menu>
        <div class="flex gap-1">
            <hrms-screen-filter></hrms-screen-filter>
            <form class="flex gap-1" [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">
                <p-multiSelect display="chip" [options]="departmentOptions" defaultLabel="Select department"
                    formControlName="departments"></p-multiSelect>
                <p-multiSelect display="chip" [options]="contractOptions" defaultLabel="Select current contract"
                    formControlName="contracts"></p-multiSelect>
                <button pButton type="submit" icon="pi pi-filter" label="Filter"> </button>
            </form>
        </div>
    </div>
    <div class="mt-3">
        <hrms-table (pagingInfo)="onPageChange()" [isPaginationShown]="true" [table]="tableData"
            [contentRef]="contentRef">
            <ng-template #contentRef let-rowData>
                <employee-item [employee]="rowData"></employee-item>
            </ng-template>
        </hrms-table>
    </div>
</div>
<employee-form
    [visible]="isModalVisible"
    (handleClose)="closeAddEmployeeModal()"
></employee-form>