<div class="card-container h-full">
  <div class="flex justify-between">
    <div>
      <p class="card-title">Competency Level (AVG)</p>
      <p>by Job level and Position</p>
    </div>
    <p-dropdown [options]="positionOptions" [(ngModel)]="selectedPosition" optionLabel="label"
      placeholder="Select position" [dropdownIcon]="'pi pi-filter'">
    </p-dropdown>
  </div>
  <div id="chart">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
      [colors]="chartOptions.colors" [plotOptions]="chartOptions.plotOptions" [grid]="chartOptions.grid"></apx-chart>
  </div>
</div>