<div class="card-container h-full">
  <div class="flex justify-between">
    <div>
      <p class="card-title">Competency Level (AVG)</p>
      <p class="text-sm">by Job level and Position</p>
    </div>
    <position-filter (handleSelectItem)="onSelectPosition($event)">
    </position-filter>
  </div>
  <div id="chart">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
      [colors]="chartOptions.colors" [plotOptions]="chartOptions.plotOptions" [grid]="chartOptions.grid"></apx-chart>
  </div>
</div>