<div class="card-container">
    <div class="flex justify-between">
        <div>
          <p class="card-title">Competency Level by Job Level</p>
        </div>
        <p-dropdown [options]="positionOptions" [(ngModel)]="selectedPosition" optionLabel="label"
          placeholder="Select position" [dropdownIcon]="'pi pi-filter'">
        </p-dropdown>
      </div>
    <hrms-chart type="bar" [data]="data" [options]="options"
        [plugins]="plugins"
        [height]="'250'"
    ></hrms-chart>
</div>