<div>
    <!-- <span
        class="flex items-center hover:border-primary duration-100 transition-all rounded-lg bg-white border border-light-gray text-gray-500">
        <label for="search" class="pl-3">
            <i class="pi pi-search"></i>
        </label>
        <input id="search" type="text" placeholder="Search" class="h-full ml-2 bg-transparent outline-none"
            [formControl]="queryField" />
        
    </span> -->
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" [formControl]="queryField" />
    </span>
</div>