<div class="card-container employee-performance-container">
    <div class="flex justify-between">
        <div>
            <p class="card-title">Competency Level (AVG)</p>
            <p>by Unit</p>
        </div>
        <p-dropdown [options]="departmentOptions" [(ngModel)]="selectedDepartment" optionLabel="label"
            placeholder="Select unit" [dropdownIcon]="'pi pi-filter'"></p-dropdown>
    </div>
    <div class="chart-container">
        <p-chart type="scatter" 
            [data]="basicData" 
            [options]="basicOptions"
            [plugins]="plugins"
        ></p-chart>
    </div>
</div>