<hrms-table [table]="tableData" [contentRef]="contentRef" [tableStyle]="{'min-width': '20rem'}"
    [isPaginationShown]="true" (pagingInfo)="onPageChange($event)">
    <ng-template #contentRef let-rowData>
        <tr>
            <td>{{rowData.no}}</td>
            <td class="flex justify-center">
                <div class="employee-rating bg-primaryLight p-2 relative">
                    <span class="text-primary">
                        {{rowData.finalAssessment}}
                    </span>
                </div>
            </td>
            <td class="pl-4">
                <div class="flex items-center justify-start">
                    <p-avatar [image]="rowData.profileImg" styleClass="mr-2" shape="circle"></p-avatar>
                    <p>{{rowData.employee.firstName}} {{rowData.employee.lastName}}</p>
                </div>
            </td>
        </tr>
    </ng-template>
</hrms-table>