<div class="m-0">
    <form action="" [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-3 gap-6">
            <div *ngFor="let eType of employeeTypes" class="employee-type-card flex items-center"
                [class.active]="eType.value === employeeType">
                <p-radioButton name="type" [value]="eType.value" [id]="eType.label | lowercase"
                    formControlName="type"></p-radioButton>
                <label [for]="eType.label | lowercase" class="ml-3 !text-base">
                    <p class="font-bold">{{eType.label}}</p>
                </label>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-6 mt-4">
            <div>
                <label class="control-label" for="">First Name</label>
                <input pInputText formControlName="firstName" placeholder="Enter your first name" />
                <div class="text-xs" *ngIf="formControls['firstName']?.hasError('required')">

                </div>
            </div>
            <div>
                <label class="control-label" for="">Last Name</label>
                <input pInputText formControlName="lastName" placeholder="Enter your last name" />
            </div>
            <div>
                <label class="control-label" for="">Date of Birth</label>
                <p-calendar formControlName="dob" [showIcon]="true" appendTo="body"
                    placeholder="Your birthday"></p-calendar>
            </div>
            <div class="col-span-2">
                <label class="control-label" for="">Address</label>
                <input pInputText formControlName="address" placeholder="Enter your address" />
            </div>
            <div>
                <label class="control-label" for="">Phone</label>
                <p-inputMask mask="999-999-9999" formControlName="phone" placeholder="Enter your phone" />
            </div>
            <div>
                <label class="control-label" for="">Email</label>
                <input pInputText formControlName="email" placeholder="Enter your email" />
            </div>
            <div>
                <label class="control-label" for="">Department</label>
                <p-dropdown styleClass="w-full" formControlName="department" [options]="departmentOptions"
                    optionLabel="label" placeholder="Choose department"></p-dropdown>
            </div>
            <div>
                <label class="control-label" for="">Position</label>
                <p-dropdown styleClass="w-full" formControlName="position" [options]="positionOptions"
                    optionLabel="label" placeholder="Choose position"></p-dropdown>
            </div>
            <div class="col-span-3">
                <span class="control-label">Social Media</span>
                <div class="grid grid-cols-2 gap-4">
                    <span class="p-input-icon-left">
                        <i class="pi pi-twitter"></i>
                        <input type="text" pInputText placeholder="Enter your twitter account" />
                    </span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-facebook"></i>
                        <input type="text" pInputText placeholder="Enter your twitter account" />
                    </span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-linkedin"></i>
                        <input type="text" pInputText placeholder="Enter your twitter account" />
                    </span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-github"></i>
                        <input type="text" pInputText placeholder="Enter your twitter account" />
                    </span>
                </div>
            </div>
            <div>
                <label class="control-label" for="">Avatar</label>
                <div class="profile-img relative">
                    <div *ngIf="!tempImg" class="profile-image-container">
                        <img style="background: #CDE9EAFF; border-radius: 60px;" class="w-full"
                            src="assets/images/profile-image-default.jpg" alt="" />
                    </div>
                    <p-avatar *ngIf="tempImg" [image]="tempImg" shape="circle" size="xlarge"></p-avatar>
                    <p-fileUpload #fileUpload mode="basic" chooseIcon="pi pi-pencil"
                        (onSelect)="onUpload($event.currentFiles[0])"></p-fileUpload>
                </div>
            </div>
            <div>
                <label class="control-label" for="">Gender</label>
                <div class="flex items-center gap-4">
                    <div class="flex items-center">
                        <p-radioButton name="gender" value="MALE" id="male" formControlName="gender"></p-radioButton>

                        <label for="male" class="ml-2 !text-base">Male</label>
                    </div>
                    <div class="flex items-center">
                        <p-radioButton name="gender" value="FEMALE" id="female"
                            formControlName="gender"></p-radioButton>

                        <label for="female" class="ml-2 !text-base">Female</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-4 text-right">
            <button type="submit" pButton label="Create"> </button>
        </div>
    </form>
</div>