:host ::ng-deep {

    input,
    label {
        display: block;
        @apply w-full;
    }

    .control-label {
        @apply mb-1 font-bold;
    }

    .profile-image-container {
        width: 120px;
        height: 120px;
    }

    .profile-img {
        width: 120px;
        height: 120px;
        .p-avatar {
            // @apply w-24 h-24;
            width: 120px;
            height: 120px;
        }

        .p-fileupload {
            position: absolute;
            right: 0px;
            bottom: 0px;
            height: 2rem;
            width: 2rem;
            cursor: pointer;
            border-radius: 9999px;
            --tw-bg-opacity: 1;
            background-color: rgb(39 68 124 / var(--tw-bg-opacity));
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));

            .p-fileupload-choose {
                @apply bg-transparent p-0;
                width: 28px;
                height: 28px;
                border: none;
            }

            .p-fileupload-choose-selected {
                @apply flex justify-center;

                .p-button-icon-left {
                    @apply m-0;
                }
            }

            .p-button-label {
                display: none;
            }
        }
    }

    .employee-type-card {
        @apply p-6 rounded;
        border: 1px solid #DEE1E6FF;

        &.active {
            border: 1px solid #56B4B8FF;
            background: #F4FAFAFF;
        }
    }

    .p-calendar {
        @apply w-full;
        height: 2.35rem;
    }
    .add-contact-btn .p-button.p-button-icon-only {
        width: unset;
    }
}