<div class="m-0">
    <form action="" [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-3 gap-6">
            <div *ngFor="let eType of employeeTypes" class="employee-type-card flex items-center"
                [class.active]="eType.value === currentContract">
                <p-radioButton name="currentContract" [value]="eType.value" [id]="eType.label | lowercase"
                    formControlName="currentContract"></p-radioButton>
                <label [for]="eType.label | lowercase" class="ml-3 !text-base">
                    <p class="font-bold">{{eType.label}}</p>
                </label>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-6 mt-4">
            <div>
                <label class="control-label" for="">First Name</label>
                <input pInputText formControlName="firstName" placeholder="Enter your first name" />
                <div class="text-xs" *ngIf="formControls['firstName']?.hasError('required')">

                </div>
            </div>
            <div>
                <label class="control-label" for="">Last Name</label>
                <input pInputText formControlName="lastName" placeholder="Enter your last name" />
            </div>
            <div>
                <label class="control-label" for="">Date of Birth</label>
                <p-calendar formControlName="dateOfBirth" [showIcon]="true" appendTo="body"
                    placeholder="Your birthday"></p-calendar>
            </div>
            <div class="col-span-2">
                <label class="control-label" for="">Address</label>
                <input pInputText formControlName="address" placeholder="Enter your address" />
            </div>
            <div>
                <label class="control-label" for="">Phone</label>
                <p-inputMask mask="999-999-9999" formControlName="phoneNumber" placeholder="Enter your phone" />
            </div>
            <div>
                <label class="control-label" for="">Email</label>
                <input pInputText formControlName="email" placeholder="Enter your email" />
            </div>
            <div>
                <label class="control-label" for="">Department</label>
                <p-dropdown styleClass="w-full" formControlName="department" [options]="departmentOptions"
                    optionLabel="label" placeholder="Choose department"></p-dropdown>
            </div>
            <div>
                <label class="control-label" for="">Position</label>
                <p-dropdown styleClass="w-full" formControlName="position" [options]="positionOptions"
                    optionLabel="label" placeholder="Choose position"></p-dropdown>
            </div>
            <div>
                <label class="control-label" for="">Job Level</label>
                <p-dropdown styleClass="w-full" formControlName="jobLevel" [options]="positionOptions"
                    optionLabel="label" placeholder="Choose position"></p-dropdown>
            </div>
            <div class="col-span-3">
                <label class="control-label" for="">Profile Bio</label>
                <textarea class="w-full" rows="3" cols="30" pInputTextarea formControlName="profileBio"
                    placeholder="Enter your email"></textarea>
            </div>
            <div class="col-span-3">
                <span class="control-label">Social Media</span>
                <div class="grid grid-cols-2 gap-4">
                    <span class="p-input-icon-left">
                        <i class="pi pi-twitter"></i>
                        <input type="text" formControlName="twitterLink" pInputText
                            placeholder="Link to Twitter account" />
                    </span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-facebook"></i>
                        <input type="text" formControlName="facebookLink" pInputText
                            placeholder="Link to Facebook account" />
                    </span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-linkedin"></i>
                        <input type="text" formControlName="linkedinLink" pInputText
                            placeholder="Link to Linkedin account" />
                    </span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-instagram"></i>
                        <input type="text" formControlName="instagramLink" pInputText
                            placeholder="Link to Instagram account" />
                    </span>
                </div>
            </div>
            <div class="col-span-3 emergency-contacts">
                <span class="control-label">Emergency Contacts</span>
                <div formArrayName="emergencyContacts" *ngFor="let contact of emergencyContacts.controls; let i = index"
                    class="flex justify-between items-end" [class.gap-2]="emergencyContacts.length !==1">
                    <div class="flex-1 grid grid-cols-3 gap-2" [formGroupName]="i">
                        <div>
                            <label for="firstName">First Name:</label>
                            <input pInputText type="text" id="firstName" formControlName="firstName" />
                        </div>
                        <div>
                            <label for="lastName">Last Name:</label>
                            <input pInputText type="text" id="lastName" formControlName="lastName" />
                        </div>
                        <div>
                            <label for="phoneNumber">Phone Number:</label>
                            <input pInputText type="text" id="phoneNumber" formControlName="phoneNumber" />
                        </div>
                    </div>
                    <div>
                        <p-button *ngIf="emergencyContacts.length !== 1" icon="pi pi-minus-circle" styleClass="p-button-link"
                            (onClick)="removeEmergencyContact(i)"></p-button>
                    </div>
                </div>
                <div class="w-full text-right mt-1">
                    <p-button (onClick)="addEmergencyContact()" icon="pi pi-plus"
                        styleClass="p-button-sm add-contact-btn" class="w-2"></p-button>
                </div>
            </div>
            <div>
                <label class="control-label" for="">Avatar</label>
                <div class="profile-img relative">
                    <div *ngIf="!tempImg" class="profile-image-container">
                        <img style="background: #CDE9EAFF; border-radius: 60px;" class="w-full"
                            src="assets/images/profile-image-default.jpg" alt="" />
                    </div>
                    <p-avatar *ngIf="tempImg" [image]="tempImg" shape="circle" size="xlarge"></p-avatar>
                    <p-fileUpload #fileUpload mode="basic" chooseIcon="pi pi-pencil"
                        (onSelect)="onUpload($event.currentFiles[0])"></p-fileUpload>
                </div>
            </div>
            <div>
                <label class="control-label" for="">Gender</label>
                <div class="flex items-center gap-4">
                    <div class="flex items-center">
                        <p-radioButton name="gender" value="Male" id="male" formControlName="gender"></p-radioButton>
                        <label for="male" class="ml-2 !text-base">Male</label>
                    </div>
                    <div class="flex items-center">
                        <p-radioButton name="gender" value="Female" id="female"
                            formControlName="gender"></p-radioButton>
                        <label for="female" class="ml-2 !text-base">Female</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="mt-4 text-right">
            <button type="submit" pButton label="Create"> </button>
        </div>
    </form>
</div>